@import 'https://fonts.googleapis.com/css?family=Ubuntu:400,500';

* { font-family: 'Ubuntu', sans-serif; }

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 20px 20px;
    background-color: #F5F5F5;
    color: #FFF;
    font-size: 12px;
}

.navbar-fixed-top {
    background-color: #fff;
    padding-top: 2px;
    border-top: 4px solid #164E5B;
    box-shadow: 0 7px 6px -6px #777;
}

.navbar-brand, .navbar-brand:hover {
    color: #164E5B;
    text-decoration: none;
    font-weight: 500;
}
